.btn-primary{
  background: $brand-red;
  border-radius: 0;
  border: 2px solid $brand-red;
  font-size: $font-size-base;
  padding: 8px 20px;
  &:hover{
    color: $white;
    background: transparent;
    border-color: $brand-red;
  }
  &.fb-style{
    background: $fb-blue;
    border: 2px solid $fb-blue;
    padding: 8px 20px;
    &:hover{
      color: $white;
      background: transparent;
    }
  }
}

.btn-red-border{
  background: transparent;
  border:2px solid $brand-red;
  color: $white;
  padding: 10px 25px;
  &:hover{
    background: $brand-red;
    color: $white;
  }
}