// Colors
//-------------------------------

$dark:          #141414;
$white:         #fff;

$fb-blue:       #3b5998;

$brand-dark:    #000;
$brand-red:     #e2001a;

$healdine-font-size:          22px;
$healdine-primary-color:      #000;
$healdine-second-color:       red;